<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="ce:code" type="Sitecore.SharedSource.Commands.CodeEditorWebEditCommand, Sitecore.SharedSource" />
    </commands>
    <controlSources>
      <source mode="on" namespace="Sitecore.SharedSource.FieldTypeExtensions" assembly="Sitecore.SharedSource" prefix="fieldTypeExtension" patch:before="*[1]"/>
    </controlSources>
  </sitecore>
</configuration>